# Node
node_modules/
npm-debug.log*

# Expo / React Native
.expo/
.expo-shared/
web-build/

# Env
.env
.env.*

# Prisma
backend/prisma/dev.db
backend/prisma/*.db
backend/prisma/migrations/*/migration_lock.toml

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Android / iOS
android/
ios/
*.keystore
